* {
	margin: 0;
	padding: 0;
	//vertical-align: middle;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:focus {
		outline: none;
	}
}
input {
	position: absolute;
	bottom: 0;
	width: 100%;
}